# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# environment variables
.env
.env.production
.env.*.local

# sanity studio
studio/node_modules/
studio/dist/
studio/.sanity/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS / editor
.DS_Store
.vscode/
.idea/
